@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: var(--dark);
  font-family: var(--poppins);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 150rem;
  /* para maigitna lahat */
  margin: 0 auto;
  padding: 0 5rem;
}

/* HEADER */
.header {
  /* p3rem0 */
  padding: 3rem 0;
  /* bgc */
  background-color: var(--light);
}
.header__wrapper {
  /* df */
  display: flex;
  /* j tas x axis ang jc */
  justify-content: space-between;
}
.header__left {
  display: flex;
  /* y axis */
  align-items: center;
}
.header__left img {
  width: 10rem;
}
.header__left ul {
  display: flex;
  gap: 3rem;
}
/* magpapalit ng color ng header nav */
.header__left ul li a {
  color: var(--dark);
  font-weight: 500;
}
/* color change kapag ihhover */
.header__left ul li a:hover {
  color: var(--green);
}
.header__right {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.header__right ul {
  display: flex;
  gap: 3rem;
}
/* magpapalit ng color ng header nav */
.header__right ul li a {
  color: var(--dark);
  font-weight: 500;
}
/* color change kapag ihhover */
.header__right ul li a:hover {
  color: var(--green);
}

/* BANNER */
.banner {
  background: rgb(210,210,210);
  background: linear-gradient(0deg, rgba(210,210,210,1) 94%, rgba(85,85,85,1) 100%);
}
.banner__wrapper {
  display: flex;
}
.banner__left {
  padding-left: 15rem;
  padding-top: 15rem;
}
.banner__left p{
  margin-bottom:2.5rem;
  font-size: 2rem;
}
.banner__left h1 {
  font-size: 10rem;
  line-height: 1;
  font-weight: 800;
  margin-bottom:10%;
}
.banner__right img {
  max-width: fit-content;
}
.banner__left span {
  color: var(--green);
}

/* ABOUT ME akin na gawa
.about {
  background-color: var(--light);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.about__wrapper {
  display: grid;
}
.about__left {
  margin-top: -7rem;
  padding-left: 15rem;
}
kapag gustong hindi patusok ang img hehe
.about__left img {
  border-radius: 1rem;
}
.about__right {
  padding-top: 2rem;
  margin-left: 63rem;
  margin-top: -73rem;
}
.about__right h2 {
  font-size: 9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.about__right p {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
.about__right p span {
  font-weight: 600;
}
.about__right ul {
  font-size: 2rem;
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
  text-decoration: none;
}
magpapalit ng color ng header nav
.about__right ul li a {
  color: var(--dark);
  font-weight: 500;
}
.about__right ul li a:after {
  content: " ";
  width: 0px;
  height: 2px;
  background-color: var(--gray);
  transition: 0.5s ease;
  display: block;
}
kaya nagkaroon ng guhit sa ilalim
.about__right ul li a:after {
  width: 100%;
}
color change kapag ihhover
.about__right ul li a:hover {
  color: var(--green);
  transition: 0.5s ease-in-out;
}
.about__right h5 {
  font-size: 1.9rem;
  font-weight: 600;
}
.about__right h5 span {
  font-size: 1.9rem;
  font-weight: normal;
}
.about__right h6 {
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-size: 2rem;
} */

/* about ni ma'am */
.about {
  background-color: var(--light);
  padding-bottom: 5rem;
}
.about__wrapper {
  display: grid;
  grid-template-columns: 50rem 1fr;
  gap: 5rem;
}
.about__left {
  padding-left: 17rem;
}
.about__left img {
  border-radius: 1rem;
  transform: translateY(-1.5rem);
}
.about__right {
  padding-top: 4rem;
}
.about__right h3 {
  font-size: 9rem;
  font-weight: 500;
}
.about__right p {
  max-width: 70rem;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.about__right span {
  font-weight: 700;
}
.about__title {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.about__title li {
  display: inline-block;
}
.about__title li::after {
  content: " ";
  width: 0px;
  height: 2px;
  background-color: var(--gray);
  transition: 300ms;
  display: block;
}
.about__title li:hover::after {
  width: 100%;
}
.about__main-skills {
  font-weight: 600;
}
.about__main-skills li {
  display: flex;
}
.about__main-skills li span {
  font-weight: 300;
}
.about__main-desc {
  font-weight: 300;
  margin-bottom: 2rem;
}
/* DESIGN FOR JAVASCRIPT */
.about__title li:first-child.open {
  color: var(--green);
  text-decoration: underline;
  text-underline-offset: 7px;
}
.about__main-skills {
  display: none;
}
.about__main-skills.open {
  display: block;
}
/* SERVICES */
.services {
  padding: 5rem 0;
  background-color: var(--light);
}
.services__title {
  text-align: center;
}
.services__title h3 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.services__title p {
  font-size: 2rem;
  font-weight: 300;
  /* for space */
  margin-bottom: 2rem;
}
/* paghihiwalay ng cards */
.services__wrapper {
  display: grid;
  grid-template-columns: 30rem 30rem 30rem;
  gap: 3rem;
  align-content: center;
  justify-content: center;
}
/* porma ng cards */
.services__card {
  background-color: var(--gray);
  padding: 4rem;
  border-radius: 1rem;
  /* para mapagitna na yung mismong lahat */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* for icons ang span */
.services__card span {
  color: var(--green);
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-right: 18.5rem;
}
/* for words under icons */
.services__card h4 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services__card p {
  text-align: left;
  margin-right: 8%;
  font-weight: 300;
  max-width: 20rem;
}

/* CLIENT */
.client {
  padding: 5rem 0;
  background-color: var(--light);
}
.client__title {
  text-align: center;
}
.client__title h3 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.client__title p {
  font-size: 2.2rem;
  font-weight: 300;
  /* for space */
  margin-bottom: 2rem;
}
.client__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.client__card img {
  height: 100%;
  width: 100%;
  display: grid;
}
.client__card {
  background-color: var(--light);
  /* padding: .2rem; */
  border-radius: 1rem;
  border-style: var(--dark);
  /* para mapagitna na yung mismong lahat */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #cecece;
}
/* PROJECT */
.project {
  padding: 5rem 0;
  background-color: var(--light);
}
.project__title {
  text-align: center;
}
.project__title h3 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.project__title p {
  font-size: 2rem;
  font-weight: 300;
  /* for space */
  margin-bottom: 4rem;
}
.project__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.project__card img {
  border-radius: 3rem;
  height: 100%;
  width: 100%;
  padding: 2rem;
  /* para mapa-darken */
  filter: brightness(50%);
}
.project__card {
  /* padding: .2rem; */
  /* para mapagitna na yung mismong lahat */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project__card span {
  color: var(--light);
  position: absolute;
  margin-bottom: 7rem;
}
.project__card h4 {
  color: var(--light);
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  margin-bottom: -13rem;
  text-align: center;
}
.project__card a {
  color: var(--light);
  font-weight: 500;
  border: 2px solid var(--light);
  position: absolute;
  margin-bottom: -38.5rem;
}
.project__card a:hover {
  color: var(--green);
  transition: 0.5s ease-in-out;
  border: 2px solid var(--green);
}
/* HIRE ME */
.hire {
  padding: 27rem;
  background-color: var(--light);
  padding-top:1rem;
}
.hire__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hire__right img{
  border-radius: 3rem;
  padding: 2rem;
  margin-left:80rem;
  margin-top:-73rem;
  max-width:fit-content;
  height:85rem;
}
.hire__left h3{
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.hire__left p {
  font-size: 2.5rem;
  font-weight: 300;
  /* for space */
  margin-bottom: 6rem;
}
.hire__left p span {
  font-weight:500;
}
.hire__name h5 {
  color:#707070;
  font-size:2rem;
  border: 2px solid var(--gray);
  border-radius:1rem;
  margin-top: 3rem;
  padding:1.8rem;
  width:48.5%;
}
.hire__name h6{
  color:#707070;
  font-size:2rem;
  border: 2px solid var(--gray);
  border-radius:1rem;
  margin-top: 3rem;
  padding:6.5rem;
  width:48.5%;
}
.hire__name a{
  color: var(--light);
  background-color: #228b22  ;
  font-size: 2.3rem;
  border-radius: 1rem;
  position: absolute;
  padding: 2.5rem;
  margin: 3rem;
  margin-bottom:1rem;
  width:18%;
  margin-left:-.1rem;
  text-align:center;
}
.hire__name a:hover{
  background-color:var(--dark);
  transition: 0.5s ease;
}

/* FINALLY FOOTER */
.footer {
  background-color: var(--dark);
}
.footer__wrapper {
  /* df */
  display: flex;
  /* j tas x axis ang jc */
  justify-content: space-between;
}
.footer__left {
  display: flex;
  /* y axis */
  align-items: center;
}
.footer__left img {
  width: 10rem;
  border-radius: 50%;
}
.footer__social {
  display: flex;
  gap: 2rem;
  size:2rem;
  margin-left:43rem;
  margin-top:7rem;
  top:-50px; 
}
/* magpapalit ng color ng header nav */
.footer__social li a {
  color: var(--light);
  font-weight: 500;
  border: 2px solid #595959;
  padding:2rem;
  border-radius:49.1%;
  text-align:center;
  
}
/* color change kapag ihhover */
.footer__social li a:hover {
  color: var(--green);
  border: 2px solid var(--green);
}
.footer__center p{
  color: var(--light);
  font-size: 1.5rem;
  margin-left:94rem;
  margin-bottom:6rem;
}

/* REPEATABLE PATTERNS */
:root {
  --green: #7d9a68;
  --light: #ffffff;
  --dark: #2b2b2b;
  --gray: #d3d3d3;
  --poppins: "Poppins", sans-serif;
}

.btn {
  background-color: transparent;
  border: transparent;
  border-radius: 1rem;
  padding: 1rem 2rem;
  color: transparent;
}
.btn.bg--border-dark {
  background-color: var(--light);
  border: 1px solid var(--dark);
  color: var(--dark);
}
.btn.bg--border-light {
  background-color: transparent;
  border: 2px solid var(--light);
  color: var(--light);
}
